<form action="/addBook" method="POST">

    <label>Title: </label>
    <input type="text" name="title">
    <br>
    <label>Year: </label>
    <input type = "text" name="year">
    <br>
    <label>Written by: </label>
    <input type="text" name="written_by">
    <input type="submit">

</form>