<h3>Hello from Add new movie Page</h3>

<form method="POST" action="/addNewMovie">
    <label>Title: </label>
    <input type="text" name="title">
    <br>
    <label>Year: </label>
    <input type="text" name="year">
    <br>

    <input type="submit">
</form>