<h3> Hi from Register page</h3>

<form action="/register" method="POST">
    <label>Name: </label>
    <input type="text" name="name">
    <br>
    <label>Email: </label>
    <input type="email" name="email">
    <br>
    <label>Password: </label>
    <input type="password" name="pass">
    <br>

    <input type="submit">

</form>