<form method="post" action="/login">
	<label> Email: </label>
	<br>
	<input type="text" name="email">
	<br>
	<label> Pass: </label>
	<input type="password" name="pass">
	<br>

	<input type="submit"> 
</form>