<html>
    <head>

    </head>
    <body>
        <h4>There is a user with that email. Please try again</h4> 
        <br>
        <button onclick="window.location='/'">Go back to Home page</button>
    </body>
</html>