<html>
    <head>

    </head>
    <body>
        <form method="POST" action="/register">
            <label>Email: </label>
            <input type="email" name="email">
            <br>
            <label>Password: </label>
            <input type="password" name="pass">

            <input type="submit">
        </form>
    </body>
</html>