<html>
    <head>

    </head>

    <body>
        <form method="POST" action="/register">
            <label>First name:</label>
            <input type="text" name="fn"> <br>
            <label>Last name:</label>
            <input type="text" name="ln"> <br>
            <label>Email:</label>
            <input type="email" name="email"> <br>
            <label>Password:</label>
            <input type="password" name="password"> <br>
            <input type="submit">
        </form>
    </body>
</html>