<form action="/uploadImage" method="POST" enctype="multipart/form-data">
    
    <label>Title:</label>
    <input type="text" name="title">
    <br>
    <label>Year: </label>
    <input type="text" name="year">
    <br>
    <input type="file" name="image">
    <br>
    <input type="submit">
</form>