<html>
    <head>

    </head>
    <body>
        <h3>Hello from default route ( / )</h3>
        <br>
        <button onclick="window.location='/register'">Register</button>
        <button onclick="window.location='/login'">Login</button>
    </body>
</html>